page-gesture-password {
    .gp{
        height: 500px;
    }
    .chance{
        position: inherit;
        padding-left: 40%;
        padding-top: 20%;
        z-index: 100;
        color: color($colors,danger)
    }
}
