<ion-header>

  <ion-navbar>
    <ion-title>GesturePassword</ion-title>
    <ion-buttons right *ngIf="type!='check'">
      <button ion-button clear color='primary' (click)="dismiss()">
        跳过
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="chance_ind" class='chance'>还有{{chance}}次机会 </div>
  <gesture-password class="gp" [(ngModel)]="pwd" [type]="type" [options]="options" (error)="onError($event)" (checked)="onChecked($event)"
    (beforeRepeat)="onBeforeRepeat($event)" (afterRepeat)="onAfterRepeat($event)"></gesture-password>

</ion-content>