<!-- header -->
<ion-header>
    <ion-navbar color='navbar'>
      <ion-title center>密码修改</ion-title>
      <ion-buttons right>
        <button ion-button (click)="save()">保存</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <!-- content -->
  <ion-content>
    <form [formGroup]="ftxForm" (ngSubmit)="save()">
      <ion-list>
        <ion-item>
          <ion-label fixed>原密码</ion-label>
          <ion-input type="{{showPass?'text':'password'}}" placeholder="请输入原密码" formControlName="old_password" maxLength='10'></ion-input>
          <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword(true)">
            <ion-icon name="ios-eye-off-outline"></ion-icon>
          </button>
          <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword(true)">
            <ion-icon name="ios-eye-outline"></ion-icon>
          </button>
  
        </ion-item>
        <ion-item>
          <ion-label fixed>新密码</ion-label>
          <ion-input type="{{_showPass?'text':'password'}}" placeholder="请输入新密码" formControlName="new_password" maxLength='10'></ion-input>
          <button *ngIf="!_showPass" ion-button clear color="dark" item-right (click)="showPassword(false)">
            <ion-icon name="ios-eye-off-outline"></ion-icon>
          </button>
          <button *ngIf="_showPass" ion-button clear color="dark" item-right (click)="showPassword(false)">
            <ion-icon name="ios-eye-outline"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>