page-message-notice-public {

  .tittle-detail {
      text-align: center;
  }

  .detail-p {
    color: black;
    text-indent: 1em;
    padding: 0.4em 0.3em;
  }

  .notice-tittle-color{
    color: grey;
  }
}
