<!-- header -->
<ion-header>
    <ion-navbar color='ftx-theme'>
      <ion-title center>密码修改</ion-title>
      <ion-buttons right>
        <button ion-button (click)="doSave()">保存</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <!-- content -->
  <ion-content>
    <form [formGroup]="ftxForm">
      <ion-list>
        <ion-item>
          <ion-label fixed>原密码</ion-label>
          <ion-input clearInput type="{{showPass?'password':'text'}}" placeholder="请输入原交易密码" formControlName="old_password" maxLength='16'></ion-input>
          <ion-icon class="icon-flag-color" item-end name="{{showPass?'eye':'eye-off'}}" *ngIf="ftxForm.value.old_password.length>0"  (click)="showPassword(true)"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label fixed>新密码</ion-label>
          <ion-input clearInput type="{{_showPass?'password':'text'}}" placeholder="请输入新交易密码" formControlName="new_password" maxLength='16'></ion-input>
          <ion-icon class="icon-flag-color" item-end name="{{_showPass?'eye':'eye-off'}}" *ngIf="ftxForm.value.new_password.length>0"  (click)="showPassword(false)"></ion-icon>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
